.address__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;

  @media (min-width:$tablet-width) {
    padding-top: 70px;
    padding-bottom: 60px;
  }
}

.address__title {
  font-family: $oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width:$tablet-width) {
    width: 170px;

    font-size: 20px;
    line-height: 25px;
    color: $font-color-black;
  }
}

.address__description {
  @media (min-width:$tablet-width) {
    width: 170px;

    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
}

.address__img {
  vertical-align: bottom;
}

.catalog-page-adress {
  background-color: $background-gray;
}
