.catalog-banner {
  min-height: 289px;
  margin: 40px 20px;

  background: $color-promo-green url("../img/gift-photo-mobile@1x.jpg") no-repeat center;

  @media (min-width: $tablet-width) {
    min-height: 200px;

    background: $color-promo-green url("../img/gift-photo-tablet@1x.jpg") no-repeat center;
  }
  
  @media (min-width: $desktop-width) {
    width: 245px;
    padding-left: 0;
    padding-right: 0;
    
    background: $color-promo-green url("../img/gift-photo-desktop@1x.jpg") no-repeat center;    
  }
}

.catalog-banner__intro{
  position: relative;

  width: 160px;
  margin: 0px auto;
  padding-top: 170px;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-weight: 400;
  color: $font-color-white;
  text-align: center;

    &::after {
    position: absolute;
    content: "";
    top: 50px;
    left: 50%;
    margin-left: -27px;

    display: block;
    width: 55px;
    height: 60px;

    background: url("../img/icon-gift.svg") no-repeat;

      @media (min-width: $tablet-width) {
        top: 65px;
        left: -300px;
      }
  }

  @media (min-width: $tablet-width) {
    margin-left: 425px;
    padding-top: 75px;

    text-align: left;
  }
}
