.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0 0 0;
  padding: 0;


  list-style: none;

  &--plus {
    @media (min-width: $tablet-width) {
      flex-direction: column;
    }
  }
}

.catalog-list__title {
  font-family: $oswald;
  color: $font-color-black;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog-list__item {
  width: 100%;
  margin: auto;
  margin-bottom: 25px;
  padding: 0 20px;

  border-top: solid 1px #ededed;

  &:last-child {
    padding-bottom: 25px;
    border-bottom: solid 1px #ededed;

    @media (min-width: $tablet-width) {
      padding-bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    min-height: 430px;
    width: 325px;
    margin-top: 140px;
    margin-right: 2%;
    padding: 0 0;

    border: none;
    background-color: $background-gray;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }

  &--load {
    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 19px;
      text-align: center;

      background-color: $color-white;
      outline: 1px solid $border-light-gray;
    }
  }
}

.catalog-list__item__image {
  @media (min-width: $tablet-width) {
    width: 100%;
    margin: auto;
    margin-top: -80px;
  }

  &--load {
    margin-bottom: 10px;
    margin-top: 0;

    opacity: 0.2;

    @media (min-width: $tablet-width) {
      width: 60px;
      margin-bottom: 50px;
      margin-top: 50px;
    }
  }
}

.catalog-list__item__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin: auto;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    max-width: 324px;
    margin-bottom: 20px;
  }

  &--load {
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 20px;
  }
}

.catalog-list__item__button-buy {
  display: block;
  width: 280px;
  margin: auto;
  margin-top: 0;

  font-size: 16px;

  @media (min-width: $tablet-width) {
    width: 250px;
  }

  &--plus {
    @media (min-width: $tablet-width) {
      width: 100%;
    }
  }

  &--load {
    color: $font-color-grey;
    background-color: $background-gray;

    @media (min-width: $tablet-width) {
      margin-bottom: 40px;
      margin-top: auto;
    }
  }
}

.catalog-list__item__info {
  margin-top: 5px;

  &--load {
    margin-top: 0;

    color: $font-color-grey;
  }

  @media (min-width: $tablet-width) {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.catalog-list__item__title {
  margin-bottom: 10px;

  font-family: $oswald;
  color: $font-color-black;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 150px;
    margin: auto;
    margin-bottom: 25px;

    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
}

.catalog-list__item__table {
  width: 100%;

  color: $font-color-grey;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;

  border-spacing: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.catalog-list__item__table td {
  text-align: right;
}

.catalog-list__item__table th {
  font-weight: 400;
}

.catalog-list__item__table tr {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 7px;
    margin-bottom: 7px;

    border-bottom: 1px solid #cdcdcd;
  }
}
