.catalog-plus {
  display: flex;
  flex-wrap: wrap;
  margin: 35px 0 0 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    margin-top: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 45px;
  }
}

.catalog-plus__container {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.catalog-plus__item {
  width: 100%;
  margin: auto;
  padding: 10px 0 19px 0;

  border: 1px solid #cdcdcd;
  background: none;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;

    @media (min-width: $desktop-width) {
      padding-bottom: 16px;
    }
  }

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    margin-top: -1px;
    padding: 28px 34px;

    border-top: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 17px 0;

    border: none;
    border-top: 1px solid #cdcdcd;
  }
}

.catalog-plus__item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 280px;
  margin: auto;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: flex-end;
    max-width: 700px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    align-items: center;
  }
}

.catalog-plus__item__button-buy {
  display: block;
  width: 280px;
  margin: auto;

  font-size: 16px;

  @media (min-width: $tablet-width) {
    width: 100%;
    max-width: 700px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-right: 0;
  }
}

.catalog-plus__item__info {
  margin-top: 20px;
}

.catalog-plus__item-title {
  margin-bottom: 10px;
  margin-top: 0;

  font-family: $oswald;
  color: $font-color-black;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 275px;
  }
}

.catalog-plus__item-table {
  width: 100%;

  color: $font-color-grey;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;

  border-spacing: 0;

  @media (min-width: $tablet-width) {
    width: auto;

    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 35px;
  }
}

.catalog-plus__item-table td {
  text-align: right;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    margin-left: 50px;
    font-size: 16px;
  }
}

.catalog-plus__item-table td:first-child {
  text-align: left;
}

.catalog-plus__item-table th {
  font-weight: 400;
}

.catalog-plus__item-table tr {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    width: 345px;
    justify-content: space-between;
  }
}

.catalog-plus__title {
  margin-top: 5px;

  font-family: $oswald;
  color: $font-color-black;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-top: 40px;

    font-size: 36px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-top: 45px;
  }
}
