.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 450px;

  @media (min-width: $tablet-width) {
    padding-right: 30px;
    padding-left: 30px;
    max-width: 1000px;
  }

  &--no-padding {
    padding-right: 0;
    padding-left: 0;
  }

  &--form__intro {
    @media (min-width: $tablet-width) {
      padding-left: 70px;
    }
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding-right: 40px;
    padding-left: 40px;
    max-width: 1300px;

    &--wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.container--example {
  @media (min-width: $desktop-width) {
    padding-right: 0;
    margin-left: 0;
  }
}

.container--catalog-list {
  @media (max-width: $mobile-max-width) {
    padding-right: 0;
    padding-left: 0;
  }

  @media (min-width: $tablet-width) {
    max-width: 850px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    padding-left: 0;
    padding-right: 0;
  }
}
