.example {
  background-color: $background-gray;

  @media (min-width:$tablet-width){
    padding-top: 0;
    background-image: linear-gradient(to bottom, white 57.3%, $background-gray 57.3%);
  }

  @media (min-width:$desktop-width) {
    background-image: linear-gradient(to bottom, white 30.6%, $background-gray 30.6%);
  }
}

.example__container {
  max-width: 450px;
  margin: auto;
}

.example__block {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 124px;
  padding-top: 15px;
  padding-bottom: 15px;

  text-align: center;

  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @media (min-width:$tablet-width) {
    width: 165px;
    margin-right: 40px;
    padding-top: 22px;
  }
}

.example__header {
  margin-bottom: 20px;
  padding-top: 30px;

  font-family: $oswald;
  font-size: 36px;
  font-weight: 400;
  color: $font-color-black;
  line-height: 60px;

  @media (min-width:$tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.example__block__title {
  font-family: $oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: $font-color-black;

  @media (min-width:$tablet-width) {
    font-size: 30px;
  }
}

.example__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;

  @media (min-width:$tablet-width) {
    max-width: 420px;
    margin: 0;
  }
}

.example__block__description {
  position: absolute;
  bottom: -16px;
  left: -20px;

  width: 55px;
  padding-left: 16px;
  padding-right: 17px;

  font-size: 12px;
  line-height: 12px;
  color: $font-color-grey;

  background-color: $background-gray;

  @media (min-width:$tablet-width) {
    bottom: -5px;

    width: auto;
    padding-left: 5px;
    padding-right: 5px;

    font-size: 14px;

    background-color: #fff;
  }

  @media (min-width:$tablet-width) {
    background-color: $background-gray;
  }
}

.example__block__costs {
  margin: 30px 0 35px 0;

  font-family: $oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $font-color-black;

  @media (min-width:$tablet-width) {
    max-width: 200px;

    font-size: 20px;
    text-align: right;
  }

  @media (min-width:$tablet-width) {
    max-width: inherit;

    text-align: left;
  }
}

.example__intro {
  padding-bottom: 25px;

  @media (min-width:$tablet-width) {
    margin-top: 60px;
    margin-bottom: 25px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width:$desktop-width) {
    width: 450px;
    margin-top: 140px;
  }
}

.before-after__image {
  display: none;
  margin-bottom: 40px;
}

.before-after__image--active {
  display: block;
  margin: auto;
}

.example__stripe {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: auto;
  margin-bottom: 15px;
  padding-bottom: 35px;
}

.example__stripe-link {
  font-family: $oswald;
  color: $font-color-black;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}

.example__slider {
  position: relative;
  height: 12px;
  width: 82px;

  border: 1px solid #cdcdcd;
  border-radius: 10px;
  background-color: white;
}

.example__slider-in {
  position: absolute;
  top: 3px;
  left: 4px;
  width: 35px;
  height: 6px;

  background-color: $background-green;
  border-radius: 10px;
}

.example__wrapper-tablet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  @media (min-width:$tablet-width) {
    flex-direction: row;
  }

  @media (min-width:$desktop-width) {
    flex-direction: column;
  }
}
