.example {
  background-color: $background-gray;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    background-image: linear-gradient(to bottom, white 55.5%, $background-gray 55.5%);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(to bottom, white 30.6%, $background-gray 30.6%);
  }
}

.example__container {
  max-width: 450px;
  margin: auto;

  @media (min-width: $tablet-width) {
    max-width: 1000px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    max-width: 2000px;
    justify-content: space-between;
  }
}

.example__block {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 124px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 0;

  text-align: center;

  border: 1px solid $border-gray;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 160px;
    margin-right: 50px;
    padding-bottom: 25px;
    padding-top: 22px;
  }
}

.example__header {
  margin-bottom: 20px;
  padding-top: 20px;

  font-family: $oswald;
  font-size: 36px;
  font-weight: 400;
  color: $font-color-black;
  line-height: 60px;

  @media (min-width: $tablet-width) {
    margin-top: 45px;
    padding-top: 0;
    font-size: 60px;
    line-height: 60px;
  }
}

.example__block-title {
  font-family: $oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: $font-color-black;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.example__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;

  @media (min-width: $tablet-width) {
    max-width: 420px;
    margin: 0;
  }
}

.example__block-description {
  position: absolute;
  bottom: -16px;
  left: -20px;

  width: 55px;
  padding-left: 16px;
  padding-right: 17px;

  font-size: 12px;
  line-height: 12px;
  color: $font-color-grey;

  background-color: $background-gray;

  @media (min-width: $tablet-width) {
    bottom: -5px;

    width: auto;
    padding-left: 5px;
    padding-right: 5px;

    font-size: 14px;

    background-color: $color-white;
  }

  @media (min-width: $desktop-width) {
    background-color: $background-gray;
  }
}

.example__block-costs {
  margin: 25px 0 35px 0;

  font-family: $oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $font-color-black;

  @media (min-width: $tablet-width) {
    max-width: 200px;
    margin-bottom: 0;
    margin-top: 8px;

    font-size: 20px;
    line-height: 30px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    max-width: inherit;
    margin-top: 40px;

    text-align: left;
  }
}

.example__intro {
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-top: 60px;
    margin-bottom: 25px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 450px;
    margin-top: 145px;
    margin-bottom: 40px;
  }
}

.example__wrapper-tablet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.example__slider {
  min-height: 325px;

  @media (min-width: $tablet-width) {
    min-height: 710px;
  }

  @media (min-width: $desktop-width) {
    min-height: 667px;
    margin-top: -15px;
  }
}

.example__block-sum {
  @media (min-width: $desktop-width) {
    margin-left: 60px;
  }
}

.example__info {
  @media (min-width: $desktop-width) {
    padding-top: 5px;
  }
}
