.footer {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  background-color: $background-gray;

  @media (min-width:$tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__logo {
  margin: auto;
  margin-bottom: 30px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width:$tablet-width) {
    margin: 0;
  }
}

.footer__social {
  padding: 20px 0;

  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;

  @media (min-width:$tablet-width) {
    border: none;
  }
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.footer__copyright__link {
  color: $font-color-grey;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.footer__copyright__link-logo {
  @media (min-width:$tablet-width) {
    margin-left: 20px;
  }
}

.footer__social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 128px;
  margin: auto;
  padding: 0;
  list-style: none;
}

.footer__social__link {
  &:hover,
  &:focus {
    fill: $background-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__social__image--vk {
  @media (min-width:$tablet-width) {
    width: 30px;
    height: 17px;
  }
}

.footer__social__image--insta {
  @media (min-width:$tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.footer__social__image--fb {
  @media (min-width:$tablet-width) {
    width: 14px;
    height: 27px;
  }
}
