.footer {
  padding-top: 37px;
  background-color: $background-gray;

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: auto;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__logo {
  margin: auto;
  margin-bottom: 28px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-top: 20px;
  }
}

.footer__social {
  padding: 20px 0;

  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  margin: 17px 0 30px 0;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0;
  }
}

.footer__copyright-link {
  color: $font-color-grey;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;

  &:active {
    opacity: 0.3;
  }
}

.footer__copyright-logo {
  @media (min-width: $tablet-width) {
    margin-left: 20px;
  }
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 128px;
  margin: auto;
  padding: 0;
  list-style: none;
}

.footer__social-link {
  &:hover,
  &:focus {
    fill: $background-green;
  }

  &:active {
    opacity: 0.3;
  }

  &--vk svg {
    @media (min-width: $tablet-width) {
      width: 30px;
      height: 17px;
    }
  }

  &--insta svg {
    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;
    }
  }

  &--fb svg {
    @media (min-width: $tablet-width) {
      width: 14px;
      height: 27px;
    }
  }
}

.footer__copyright-img {
  fill: #666666;

  &:hover,
  &:focus {
    fill: $background-green;
  }

  &:active {
    opacity: 0.3;
  }
}
