.footer {
	display: flex;
  flex-direction: column;
  padding-top: 40px;
  background-color: #f2f2f2;
}

.footer__logo {
  margin: auto;
	margin-bottom: 30px;
}

  
.social__list {
	display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
	width: 128px;
	margin: auto;
  padding: 0;
	list-style: none;
		
	
}

.footer__social {
	padding: 20px 0;
	margin: 0 20px;
	
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
}

.footer__copyright {
	display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
	margin: 20px 20px;
}

.copyright__link {
	color: #444444;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}