.form {
  max-width: 450px;
  margin: auto;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    max-width: 1000px;
    padding-left: 70px;
    padding-right: 65px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 2000px;
    padding-left: 40px;
    padding-right: 40px;
  }

  font-family: $oswald;
}

.form__title {
  margin-top: 15px;

  font-family: $oswald;
  color: $font-color-black;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 55px;
  }
}

.form fieldset {
  margin: 0;
  padding: 0 20px;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  &--email {
    position: relative;

    @media (min-width: $desktop-width) {
      width: 47%;
    }
  }

  &--tel {
    position: relative;

    @media (min-width: $desktop-width) {
      width: 47%;
    }
  }
}

.form .form__target {
  padding-top: 25px;
  margin: 10px 0 30px 0;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;

  @media (min-width: $tablet-width) {
    padding-left: 25px;

    border: 1px solid #ededed;
  }

  @media (min-width: $tablet-width) {
    margin-top: 0;
    padding-top: 35px;
  }

  @media (min-width: $desktop-width) {
    width: 45%;
  }
}

.form__wrapper--target,
.form__wrapper--plus {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }
}

.form__wrapper--plus {
  @media (min-width: $tablet-width) {
    width: 225px;
    margin-right: 19%;
    margin-bottom: 50px;

    @media (min-width: $desktop-width) {
      margin-right: 8%;
    }

    &:nth-child(2n) {
      margin-right: 0;

      @media (min-width: $desktop-width) {
        margin-right: 8%;
      }
    }
  }

  &:last-child {
    @media (min-width: $desktop-width) {
      margin-right: 0;
    }
  }
}


.form label {
  padding-right: 15px;

  color: $color-dark-black;
  font-family: $oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.form input[type="text"] {
  padding: 12px 4px 12px 14px;
  flex-grow: 1;

  font-family: $oswald;
  color: $font-color-grey;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid $light-gray;

  @media (min-width: $tablet-width) {
    padding: 10px 4px 10px 20px;

    font-size: 20px;
  }

  &:hover {
    border: 1px solid $border-gray;
  }

  &:focus,
  &:active {
    padding: 11px 12px 11px 13px;
    border: 2px solid $font-color-grey;
    outline: none;

    @media (min-width: $tablet-width) {
      padding: 9px 12px 9px 19px;
    }
  }
}

.form .invalid {
  border: 2px solid #ff8282;
}

.form__target label,
.form__plus label {
  position: relative;
  padding-left: 45px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }
}

.form__target input + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -7px;

  width: 30px;
  height: 30px;

  border: 1px solid #cdcdcd;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: -9px;

    width: 38px;
    height: 38px;
  }
}

.form__target input:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 9px;

  width: 14px;
  height: 14px;

  background-color: $background-green;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 2px;
    left: 11px;

    width: 18px;
    height: 18px;
  }
}

.form .form__contacts {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-top: 80px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    margin-bottom: 55px;
  }
}

.form__contacts legend {
  @media (min-width: $tablet-width) {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

.form__plus input + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -7px;

  width: 29px;
  height: 29px;

  border: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    width: 38px;
    height: 38px;
  }
}

.form__plus input:checked + label::after {
  content: "";
  position: absolute;

  width: 21px;
  height: 16px;
  left: 6px;
  top: 0;

  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;

  @media (min-width: $tablet-width) {
    left: 10px;
    top: 5px;
  }
}

.form__wrapper--target input[type="radio"]:hover + label::before,
.form__wrapper--plus input[type="checkbox"]:hover + label::before {
  border-color: #bababa;
}

.form__wrapper--target input[type="radio"]:focus + label::before,
.form__wrapper--plus input[type="checkbox"]:focus + label::before {
  outline: 1px solid #cdcdcd;
}

.form__wrapper--target input[type="radio"]:active + label,
.form__wrapper--plus input[type="checkbox"]:active + label {
  opacity: 0.3;
}

.form__wrapper--target input[type="radio"]:disabled + label,
.form__wrapper--plus input[type="checkbox"]:disabled + label {
  opacity: 0.3;
}

.form__plus-wrapper {
  margin-top: 5px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
  }
}

.form legend {
  position: relative;

  display: inline-block;
  padding: 0 20px 0 0;
  margin-bottom: 35px;

  font-family: $oswald;
  color: $font-color-black;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  background-color: #ffffff;

  &::before {
    position: absolute;
    content: "";
    top: 14px;

    display: block;

    height: 3px;

    background-color: $background-green;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;

    font-size: 36px;
  }
}

.form textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 150px;
  padding: 10px;
  margin-bottom: 20px;

  font: inherit;
  background-color: transparent;
  border: 1px solid #cdcdcd;

  font-family: $oswald;
  color: $font-color-grey;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 10px 10px 10px 20px;
    min-height: 175px;

    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    border: 1px solid #cdcdcd;

    @media (min-width: $tablet-width) {
    }
  }

  &:focus,
  &:active {
    padding: 9px;
    border: 2px solid $font-color-grey;
    outline: none;

    @media (min-width: $tablet-width) {
      padding: 9px 10px 10px 19px;
    }
  }
}

.form__note {
  font-family: "Arial", sans-serif;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.form__intro {
  margin-bottom: 40px;

  font-family: $oswald;
  color: $font-color-black;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-left: 70px;
    margin-bottom: 65px;

    font-size: 20px;
    line-height: 30px;
  }
}

.form__submit {
  display: block;
  width: 280px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-right: 60px;

    font-size: 20px;
    padding: 18px 0;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-right: 85px;
  }
}

.form__submit-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin-top: -45px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 10px;
  }
}

.form__wrapper-top {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.form__info,
.form__target {
  @media (min-width: $desktop-width) {
    width: 47%;
  }
}

.form__input-svg {
  position: absolute;
  display: block;

  &--email {
    top: 16px;
    right: 16px;
    width: 17px;
    height: 13px;
  }

  &--tel {
    top: 13px;
    right: 13px;
    width: 20px;
    height: 20px;
  }

  @media (min-width: $tablet-width) {
    &--email {
      top: 20px;
      right: 20px;
    }

    &--tel {
      top: 17px;
      right: 17px;
    }
  }

  @media (min-width: $desktop-width) {
    &--tel {
      right: 19px;
    }
  }
}

.form .invalid + .form__input-svg {
  fill: #ff8282;
}

.form input:hover + .form__input-svg {
  fill: $color-dark-black;
}

.form input:focus + .form__input-svg {
  fill: $background-green;
}

.form__comment {
  margin-bottom: 50px;
}
