.form{
  margin-bottom: 30px;

  @media (min-width:$tablet-width) {
    padding-left: 70px;
    padding-right: 65px;
  }
}

.form fieldset {
  margin: 0px;
  padding: 0 20px;
  border: none;

  @media (min-width:$tablet-width) {
    padding: 0;
  }
}

.form__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form .form__target {
  padding-top: 25px;
  margin: 10px 0 30px 0;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;

  @media (min-width:$tablet-width) {
    padding-left: 25px;

    border: 1px solid #ededed;
  }
}

.form__wrapper--target,
.form__wrapper--plus {
  margin-bottom: 25px;
}

.form__wrapper--plus {
  @media (min-width:$tablet-width) {
    margin-bottom: 50px;
  }
}


.form label {
  padding-right: 15px;

  color: $color-dark-black;
  font-family: $oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width:$tablet-width) {
    font-size: 20px;
  }
}

.form input[type="text"] {
  padding: 12px 4px 12px 14px;
  flex-grow: 1;

  font-family: $oswald;
  color: $font-color-grey;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid #cdcdcd;

  @media (min-width:$tablet-width) {
    font-size: 20px;
  }
}

.form__target label,
.form__plus label {
  position: relative;
  padding-left: 45px;
}

.form__target input + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -7px;

  width: 30px;
  height: 30px;

  border: 1px solid #cdcdcd;
  border-radius: 50%;
}

.form__target input:checked + label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 10px;

  width: 14px;
  height: 14px;

  background-color: $background-green;
  border-radius: 50%;
}

.form .form__contacts {
  margin-bottom: 15px;
}

.form__plus input + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -7px;

  width: 29px;
  height: 29px;

  border: 1px solid #cdcdcd;
}

.form__plus input:checked + label::after {
  content: "";
  position: absolute;

  width: 21px;
  height: 16px;
  left: 6px;
  top: 0;

  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
}

.form__plus__wrapper {
  @media (min-width:$tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.form__plus__wrapper .form__wrapper {
  @media (min-width:$tablet-width) {
    width: 225px;
    margin-right: 10%;
  }
}

.form legend {
  position: relative;

  display: inline-block;
  padding: 0 20px 0 0;
  margin-bottom: 35px;

  font-family: $oswald;
  color: $font-color-black;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  background-color: #ffffff;

  &::before {
    position: absolute;
    content: "";
    top: 14px;

    display: block;

    height: 3px;

    background-color: $background-green;
    z-index: -1;
  }

  @media (min-width:$tablet-width) {
    font-size: 36px;
  }
}

.form textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 150px;
  padding: 10px;
  margin-bottom: 20px;

  font: inherit;
  background-color: transparent;
  border: 1px solid #cdcdcd;

  font-family: $oswald;
  color: $font-color-grey;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.form__note {
  text-align: center;
}

.form-intro {
  margin: 25px 20px 40px 20px;

  font-family: $oswald;
  color: $font-color-black;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width:$tablet-width) {
    margin-left: 70px;

    font-size: 20px;
    line-height: 30px;
  }
}

.form__submit {
  display: block;
  width: 280px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;

  @media (min-width:$tablet-width) {
    margin-left: 0;
    margin-right: 60px;
  }
}

.form__submit__wrapper {
  @media (min-width:$tablet-width) {
    display: flex;
    align-items: center;
  }
}
