.main-nav {
  position: relative;

  @media (min-width:$tablet-width) {
    flex-grow: 1;
    margin: 0;
  }

  @media (min-width:$desktop-width) {
    padding-left: 100px;
  }
}

.main-nav__toggle {
  position: absolute;
  content: "";

  width: 24px;
  height: 18px;

  vertical-align: bottom;

  border: none;
  background: url("../img/icon-mobile-menu.svg") no-repeat;
  cursor: pointer;

  @media (min-width:$tablet-width) {
    display: none;
  }
}

.main-nav--opened {
  width: 100%;

  @media (min-width:$tablet-width) {
    width: auto;
  }
}

.main-nav--opened .main-nav__toggle {
  top: -42px;
  right: 20px;
  z-index: 2;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-close.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;

  cursor: pointer;
  outline: none;
}
