.promo {
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 805px;
    padding-left: 120px;

    background: url("../img/index-can-tablet@1x.jpg") no-repeat 30px 200px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/index-can-tablet@2x.jpg") no-repeat 30px 200px;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 500px;
    margin-bottom: 45px;
    padding-top: 90px;

    background: url("../img/index-can-desktop@1x.png") no-repeat 490px 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/index-can-desktop@2x.png") no-repeat 490px 0;
    }
  }
}

.promo__cat {
  min-height: 305px;
  margin-bottom: 135px;

  font-family: $oswald;
  font-weight: 400;
  color: $font-color-white;
  text-align: center;

  background: $color-promo-green url("../img/index-background-mobile@1x.jpg") no-repeat center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: $color-promo-green url("../img/index-background-mobile@2x.jpg") no-repeat center;
    background-size: 280px, 320px;
  }

  @media (min-width: $tablet-width) {
    min-height: 100px;
    margin-bottom: 50px;
    margin-left: -30px;

    background: none;
    color: $font-color-black;
  }

  @media (min-width: $desktop-width) {
    margin-left: -40px;
  }
}


.promo__title {
  padding-top: 26px;
  margin-top: 0;

  font-family: $oswald;
  color: $font-color-white;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    width: 450px;
    padding-right: 200px;
    padding-top: 0;
    margin-bottom: 40px;

    color: $font-color-black;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}

.promo__slogan {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }
}

.promo__button {
  display: block;
  margin: auto;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 254px;
    margin-left: 0;
    padding: 15px 0;

    font-size: 20px;
    line-height: 20px;
  }
}

.promo__image {
  position: absolute;
  top: 165px;
  left: 50%;
  margin-left: -140px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
