.promo {
  position: relative;
}

.promo__cat {
  min-height: 305px;
  margin-bottom: 135px;

  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: $font-color-white;
  text-align: center;

  background: $color-promo-green url("../img/index-background-mobile@1x.jpg") no-repeat center;
}

.promo__title {
  padding: 30px 0 20px 0;

  font-size: 36px;
  line-height: 36px;
}

.promo__slogan {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
}

.promo__image {
  position: absolute;
  top: 165px;
  left: 50%;
  margin-left: -140px;
}
