html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0 auto;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $font-color-grey;
  text-transform: none;
  line-height: 18px;

  background-color: $color-white;
  
  /*временно для разметки*/
  border: 1px solid rgba(0, 0, 0, 0.1);
  /*временно для разметки*/
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  padding: 0;
}



